* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #00094C;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
    color: #FF6F03;
}

h1 {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: #fa9f37 ;
}

button {
    background-color: #0095f6;
    height: 45px;
    width: 45px;
    color: #00094C;
    border-radius: 50%;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
}

button:hover {
    background-color: #65b9f1;
}

#contador {
    display: flex;
}

#numeroAtual {
    display: flex;
    align-items: center;
    margin: 0 20px;
    font-size: 18px;
}