* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(
        90deg, 
        rgba(65, 184, 131, 1) 0%, 
        rgba(0, 212, 255, 1) 100% 
    );
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 30px;
    text-align: center;
    color: #027541;
    margin-bottom: 20px;
}

.container {
    width: 40%;
    min-width: 500px;
    padding: 30px 40px;
    border: 2px solid #ffffff;
    border-radius: 10px;
}

.container-adicionar-tarefas {
    background-color: #ffffff;
    padding: 30px 20px;
    border-radius: 10px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    display: flex;
}

#texto {
    padding: 12px;
    font-size: 1rem;
    font-weight: 500;
    flex: 3;
    border: 2px solid #b9b9b9;
    border-radius: 5px;
}

#texto:focus {
    outline: none;
    border-color: #41b883;
}

#botao {
    height: 100%;
    flex: 1;
    background-color: #41b883;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    padding: 12px;
    margin-left: 10px;
    cursor: pointer;
}

.container-tarefas {
    width: 100%;
    background-color: #ffffff;
    padding: 30px 20px;
    border-radius: 10px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    margin-top: 50px;
}

.error {
    border: 2px solid #ff0000 !important;
}

.error::placeholder {
    color: #ff0000;
}


